body{
  margin: 0;
}

/* NOTE: This is for sound button */

#sound {
  padding: 7px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  color: white;
}

.sound-icon {
  font-size: 1.2rem;
  margin: 7px;
  color: rgb(30, 156, 231);
}
#off{
  display: none;
}
.pointer {cursor: pointer;}

/* NOTE: This is for Background----------------------------------- */

.background{
  height: 100vh;
  width: 100%;
  background-color: #04293A;
  color: white;
  position: fixed;
  z-index: -100;
}

.bgicon{
  height: 100px;
  width: 100px;
  font-size: 5rem;
  position: absolute;
  opacity: 0.02;
  text-align: center;
}

/* NOTE: background Moving cross----------------------------------- */

.animationbox1{
  animation: spin 20s linear infinite, moveLeftToRight 10s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  left: 0;
  top: 50%;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes moveLeftToRight {
  0%   { left: 0; }
  100% { left: 20%; top: 70%}
}


.animationbox2{
  animation: spin2 20s linear infinite, moveLeftToRight2 10s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  right: 50px;
}
@keyframes spin2 {
  from { transform: rotate(-60deg); }
  to { transform: rotate(300deg); }
}
@keyframes moveLeftToRight2 {
  0%   { right: 50px; top: 10%}
  100% { right: 20%; top: 20%}
}


.animationbox3{
  animation: spin3 30s linear infinite, moveLeftToRight3 20s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  left: 80%;
  top: 90%
}
@keyframes spin3 {
  from { transform: rotate(-120deg); }
  to { transform: rotate(240deg); }
}
@keyframes moveLeftToRight3 {
  0% { left: 80%; top: 90%}
  100%   { left: 50%;top: 70%}
}


.animationbox4{
  animation: spin4 20s linear infinite, moveLeftToRight4 30s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  right: 50px;
}
@keyframes spin4 {
  from { transform: rotate(-120deg); }
  to { transform: rotate(240deg); }
}
@keyframes moveLeftToRight4 {
  0% { right: 50px; top: 70%}
  100%   { left: 50%;top: 75%}
}


.animationbox5{
  animation: spin5 20s linear infinite, moveLeftToRight5 40s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  left: 30%;
}
@keyframes spin5 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes moveLeftToRight5 {
  0% { left: 20%; top: 30%}
  100%   { left: 0; top: 0;}
}

/* NOTE: Background moving Circle  */

.animationbox1.circle{
  animation: spin1c 20s linear infinite, moveLeftToRight1c 10s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  left: 0;
  top: 5%;
}
@keyframes spin1c {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes moveLeftToRight1c {
  0%   { left: 0; top: 5%}
  100% { left: 20%; top: 20%}
}


.animationbox2.circle{
  animation: spin2c 20s linear infinite, moveLeftToRight2c 10s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  right: 50px;
}
@keyframes spin2c {
  from { transform: rotate(-60deg); }
  to { transform: rotate(300deg); }
}
@keyframes moveLeftToRight2c {
  0%   { right: 50px; top: 40%}
  100% { right: 20%; top: 65%}
}


.animationbox3.circle{
  animation: spin3c 30s linear infinite, moveLeftToRight3c 20s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  left: 70%;
}
@keyframes spin3c {
  from { transform: rotate(190deg); }
  to { transform: rotate(550deg); }
}
@keyframes moveLeftToRight3c {
  0%   { left: 70%; top: 20%}
  100% { left: 60%; top: 40%}
}


.animationbox4.circle{
  animation: spin4c 20s linear infinite, moveLeftToRight4c 30s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  left: 25%;
}
@keyframes spin4c {
  from { transform: rotate(190deg); }
  to { transform: rotate(550deg); }
}
@keyframes moveLeftToRight4c {
  0%   { left: 25%; top: 75%}
  100% { left: 5%; top: 90%}
}


.animationbox5.circle{
  animation: spin5c 20s linear infinite, moveLeftToRight5c 40s linear infinite alternate;

  transition: all 1s ease;

  position: absolute;
  left: 50%;
}
@keyframes spin5c {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes moveLeftToRight5c {
  0% { left: 50%; top: 50%}
  100%   { left: 70%; top: 80%;}
}

/* NOTE: background section ends here */

/* NOTE:  Container*/
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 5rem; */
  color: white;
}
.gameContainer{
  display: grid;
  grid-template-columns: repeat(3,10vw);
  grid-template-rows: repeat(3,10vw);
  color: white;
  font-family: 'Nunito', sans-serif;
}
.box{
  border: 3px solid rgb(30, 156, 231);
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box:hover{
  background-color: rgba(3, 110, 198, 0.78);
  color: rgb(60, 0, 78);
}


.bl0{
  border-left: 0;
}
.br0{
  border-right: 0;
}
.bt0{
  border-top: 0;
}
.bb0{
  border-bottom: 0;
}

/* NOTE: Game info */

.gameInfo{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 , 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 5rem;
  display: none;
}

.gameInfo button{
  font-size: 3rem;
  padding: .25rem 0.5rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.gameInfo button:hover{
  background-color: black;
  border: 1px solid white;
  color: white;
}
.show{
  display: flex;
}



.turn{
  font-size: 1.5rem;
  margin-bottom: 3rem;
  font-family: 'Nunito', sans-serif;
}

.not-allowed{
  cursor: not-allowed;
}

@media screen and (max-width: 800px) {
  .bgicon{
    height: 100px;
    width: 100px;
    font-size: 3rem;
    position: absolute;
    opacity: 0.02;
    text-align: center;
  }

  .container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .gameContainer{
    display: grid;
    font-family: 'Nunito', sans-serif;
    grid-template-columns: repeat(3,20vw);
    grid-template-rows: repeat(3,20vw);
    color: white;
  }
  .box{
    border: 3px solid rgb(30, 156, 231);
    font-size: 18vw;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bl0{
    border-left: 0;
  }
  .br0{
    border-right: 0;
  }
  .bt0{
    border-top: 0;
  }
  .bb0{
    border-bottom: 0;
  }

  .turn{
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
  }

  /* NOTE: Winning Info */

  .gameInfo{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0 , 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15vw;
    display: none;
  }

  .gameInfo button{
    font-size: 10vw;
    padding: .25rem 0.5rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5rem;
  }

  .gameInfo button:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
  }
  .show{
    display: flex;
  }
  .not-allowed{
    cursor: not-allowed;
  }

}
